---

---

<section id="sobre-mi" class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        
        <!-- Two-column grid layout -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Left column: Personal information -->
            <div class="space-y-6">
                <h2 class="text-3xl font-bold text-gray-900">¡Hola, soy <br><strong>Diego Sepulveda</strong>!</h2>
                <span class="typing-loop text-lg text-gray-700 mb-4 py-3 uppercase">Desarrollador Web</span>
                <p class="text-lg text-gray-700 mb-4">
                    Soy un desarrollador web con experiencia en el desarrollo de aplicaciones web. Mi pasión por el desarrollo web me ha llevado a crear sitios web y aplicaciones que facilitan la vida de los usuarios y mejoran la experiencia de los usuarios.
                </p>
                
                
                
                <!-- Hobbies section -->
                <div>
                    <h3 class="text-xl font-semibold text-gray-900 mb-4">Mis pasatiempos</h3>
                    <p class="text-gray-700">
                        [Escribe aquí algunos de tus pasatiempos e intereses personales]
                    </p>
                </div>
            </div>
            
            <!-- Right column: Photo -->
            <div class="order-first md:order-last">
                <div class="relative rounded-lg overflow-hidden h-96 w-full group">
                    <img 
                        src="/img/icon-about.png" 
                        alt="[Tu Nombre]" 
                        class="w-full h-full"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
