---
import Instagram from "../../public/svg/Instagram.astro";
import Facebook from "../../public/svg/Facebook.astro";
import Github from "../../public/svg/Github.astro";
---


<footer>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-6 border-t border-gray-200 text-center text-gray-500 flex flex-col items-center">
        <div class="flex justify-center gap-4 mt-6">
            <a href="https://instagram.com/tuusuario" target="_blank" class="transition-transform hover:scale-110 bg-white rounded-full p-3 shadow-md">
              <Instagram />
            </a>
          
            <a href="https://facebook.com/tuusuario" target="_blank" class="transition-transform hover:scale-110 bg-white rounded-full p-3 shadow-md">
              <Facebook />
            </a>
          
            <a href="https://github.com/tuusuario" target="_blank" class="transition-transform hover:scale-110 bg-white rounded-full p-3 shadow-md">
              <Github />
            </a>
          </div>
        <span class="text-sm">
          © 2025 by <strong class="text-blue-500">Diego Sepulveda</strong>. Todos los derechos reservados.
        </span>
      </div>
    </div>
  </footer>
  