---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="ES-es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/ds_icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Diego Sepulveda | Desarrollo Web</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style>
</style>
